.maincontainer{
  background-color: #fafafa;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 0%;
  z-index: 1000000;
  color: black;
}
#tableitems td{
  padding: 0vh 2vw;
  border-top: 1px solid #CCCCCC;
  height: 9vh;
  background-color: #FFFFFF;
} 
#table{
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-collapse: collapse;
}
#second {
  
}
#headertable{
  width: 70vw;
  font-size: 14px;
  background-color: #fafafa;
  padding: 2vh 2vw;
}
#headertable th{
  font-weight: 100;
  padding: 0vh 2vw;
  height: 6vh;
}

#ima{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
}
#ima img{
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 1vw;
  
}

.viewmore{
  background-color:#18c683;
  color:#FFFFFF;
  outline:none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5vh 2vw;
  text-transform: capitalize;
  margin-top: 4vh;
  border-radius: 20px;
  font-weight: 600;
}

.coinstable{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4vh 0vw;
  z-index: 100000000000000000000000000000000000;
}

.positive{
  color:#18c683;
}
.negative{
  color: red;
}
.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 2vw;
  text-transform: capitalize;
 
}
.leftheader{
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}
.middleheader{
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}
.rightheader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
}
.secondpart{
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
padding: 2vh 2vw;
color: #FFFFFF;
height: 30vh;
position: relative;
}
.secondpart h5{
  font-size: 16px;
}
.secondpart_div{
  display: flex;
  justify-content: space-evenly;
}
.connectwallet{
  background-color:#18c683;
  color:#FFFFFF;
  outline:none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5vh 2vw;
  text-transform: capitalize;
  border-radius: 20px;
  font-weight: 600;
}
.footer{
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
padding: 3vh 3vw;

margin-top: 3vh;
width: 98.5vw;
box-sizing: border-box;
display: flex;
justify-content: space-evenly;
box-sizing: border-box;
color: #FFFFFF;
}
.footer div{
  width: 20vw;
}
.footer h3{
  color: #dfdcdb;
  font-size: 14px;
  margin: 0.5vh 0vw;
  font-weight: 500;
}
.footer h5{
  font-weight: 600;
  margin: 1vh 0vw;
}

